@page "/Admin"
@layout DocViewLayout
@inject AdminEditorState State
@implements IDisposable

@if (_loading) {
  <div class="align-center d-flex justify-center mud-width-full"
      style="height: 50%">
    <MudProgressCircular Indeterminate
        Color="Color.Secondary"
        Size="Size.Large"/>
  </div>
} else {
  <MudDropContainer T="IDirectoryItem"
      Items="@State.SelectedItem?.GetFiles()"
      Class="admin-drop-container mud-height-full"
      CanDropClass="mud-border-success cursor-cell"
      NoDropClass="mud-border-error cursor-not-allowed"
      DraggingClass="item-dragging"
      ApplyDropClassesOnDragStarted="false"
      ItemsSelector="@((item, dropzone) => item.DropZoneId == dropzone)"
      ItemDropped="ItemUpdated">
    <div class="directory-tree-grid">

      <div class="dark-background directory-tree-component overflow-hidden rounded-lg">
        <DirectoryTree class="bordered directory-tree"/>
      </div>

      <div class="bordered dark-background mud-height-full mud-width-full pa-2"
          style="justify-self: start; ">
        <AdminDataGrid WindingCodes="@State.WindingCodes.ToList()"/>
      </div>
    </div>
  </MudDropContainer>
}

@code{


  private bool _loading = true;

  protected override async Task OnInitializedAsync() {
    await base.OnInitializedAsync();
    State.StateChanged += AdminStateChanged;
  }
  private void AdminStateChanged() { StateHasChanged(); }

  protected override async Task OnAfterRenderAsync(bool firstRender) {
    if (!firstRender) {
      _loading = false;
    }
    await base.OnAfterRenderAsync(firstRender);
  }

  public void Dispose() { State.StateChanged -= AdminStateChanged; }

  private static void ItemUpdated(MudItemDropInfo<IDirectoryItem> dropInfo) {
    if (dropInfo.Item != null)
      dropInfo.Item.DropZoneId = dropInfo.DropzoneIdentifier;
  }
}
