@page "/Admin"
@layout DocViewLayout
@inject AdminEditorState State
@implements IDisposable

@if (_loading) {
  <div class="align-center d-flex justify-center mud-width-full"
      style="height: 50%">
    <MudProgressCircular Indeterminate
        Color="Color.Secondary"
        Size="Size.Large"/>
  </div>
} else {
  <div class="directory-tree-grid">
    <MudDropContainer T="IDirectoryItem"
        Items="@State.SelectedItem?.GetFiles()"
        Class="mud-height-full mud-width-full overflow-hidden"

        CanDropClass="mud-border-success cursor-cell"
        NoDropClass="mud-border-error cursor-not-allowed"
        DraggingClass="item-dragging"
        ApplyDropClassesOnDragStarted="false"
        ItemsSelector="@((item, dropzone) => item.DropZoneId == dropzone)"
        ItemDropped="ItemUpdated">

      <div class="dark-background directory-tree-component overflow-hidden rounded-lg">
        <DirectoryTree class="bordered directory-tree"/>
      </div>
      <div class="align-center d-flex justify-center"
          style="justify-self: start;">
        <MudSkeleton/>
        <MudSkeleton SkeletonType="SkeletonType.Circle"
            Width="100px"
            Height="100%"/>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle"
            Height="100%"/>
      </div>

    </MudDropContainer>
  </div>
}

@code{


  private bool _loading = true;

  protected override async Task OnInitializedAsync() {
    await base.OnInitializedAsync();
    State.StateChanged += AdminStateChanged;
    await State.FetchDirectoryTree();
  }
  private void AdminStateChanged() { StateHasChanged(); }

  protected override async Task OnAfterRenderAsync(bool firstRender) {
    if (!firstRender) {
      _loading = false;
    }
    await base.OnAfterRenderAsync(firstRender);
  }

  public void Dispose() { State.StateChanged -= AdminStateChanged; }

  private static void ItemUpdated(MudItemDropInfo<IDirectoryItem> dropInfo) {
    if (dropInfo.Item != null)
      dropInfo.Item.DropZoneId = dropInfo.DropzoneIdentifier;
  }
}
