@page "/Admin"
@layout DocViewLayout
@inject AdminEditorState State
@implements IDisposable

@if  (_loading) {
  <div class="align-center d-flex justify-center mud-width-full"
      style="height: 50%">
    <MudProgressCircular Indeterminate
        Color="Color.Secondary"
        Size="Size.Large"/>
  </div>
}

@if (!_loading) {
  <MudStack Row
      Class="dashboard-content"
      AlignItems="AlignItems.Stretch"
      Justify="Justify.FlexStart">
    <DirectoryTree/>
    <div class="flex-1 mud-height-full">

      <MudSkeleton/>
        <MudSkeleton SkeletonType="SkeletonType.Circle" Width="100px" Height="100%"/>
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="100%"/>
    </div>

  </MudStack>
}

@code{


  private bool _loading = true;

  protected override async Task OnInitializedAsync() {
    State.StateChanged += AdminStateChanged;
    await State.FetchDirectoryTree();
  }
  private void AdminStateChanged() {
    _loading = false;
    StateHasChanged();
  }

  public void Dispose() {
    State.StateChanged -= AdminStateChanged;
  }

}
