#admin-dashboard > *:not(table tr td th thead tbody tfoot tr) {
    border-radius: 8px;
}

#admin-dashboard .dashboard-content {
    height: calc(100vh - 84px);
    overflow: hidden;
    margin: 24px 16px;

}
#admin-dashboard .data-grid-border{
    padding: 12px;
    flex: 4 1;
    overflow-x: auto;
    overflow-y: hidden;
}

#winding-codes-data-grid{
    --data-grid-toolbar-height: 72px;
    margin-inline:auto;
    height: 100%;
    overflow: hidden;
    min-width: 750px;
}
#winding-codes-data-grid .mud-toolbar.mud-table-toolbar{
    height: var(--data-grid-toolbar-height);
}

#winding-codes-data-grid .mud-table-container{
    max-height: calc(100% - var(--data-grid-toolbar-height));
    overflow: auto;
}

#winding-codes-data-grid .mud-table-root thead > tr > th{
    background-color: var(--mud-palette-background-grey);
}
#winding-codes-data-grid .mud-table-root thead > tr > th:not(:last-child){
    border-right: 1px solid var(--mud-palette-table-lines);
}
#winding-codes-data-grid .mud-table-root tbody > .mud-table-row:nth-of-type(even){
    background-color: var(--mud-palette-table-striped);
}
#winding-codes-data-grid .mud-table-root tbody > .mud-table-row .mud-table-cell{

}


#winding-codes-data-grid thead tr th{
    /*padding: 0.5rem 1rem;*/
    /*text-align: center;*/
}
#winding-codes-data-grid tbody tr td{
    /*padding: 0.5rem 1rem;*/
    /*text-align: center;*/
}
