.stops-editor.stack-container {
  height: 100%;
}

.stops-editor .stops-editor-grid {
  background-color: var(--mud-palette-background-grey);
  box-shadow: var(--mud-elevation-4);
  padding: 4px;
}

.stops-editor .stops-editor-grid .stops-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stops-editor .stops-editor-paper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: transparent;
  overflow: auto;
  border: 4px double rgb(120, 120, 120);
  height: 35vh;
}

.stops-editor .stops-expansion-panel {
  padding: 8px;
}

.stops-editor .stops-expansion-item .mud-expand-panel-content {
  padding: 8px 16px;
  background-color: rgba(155, 155, 155, 0.1);
}

.mud-input.filter-select-input > input.mud-input-root-outlined,
.filter-select-input div.mud-input-slot.mud-input-root-outlined {
  padding: 10px 0 !important;
}

.directory-view,
.directory-view > div {
  margin: 8px;
}

/*.folder-select-popover .mud-list-item-extended:not(.folder-item){
    background: var(--mud-palette-background-grey);
    box-shadow: var(--mud-elevation-10);
    margin-block: 0.4rem;
}
.folder-select-popover .mud-list-extended.mud-list-padding-extended{
    padding-inline: 4px;
}*/
