.auto-docs.container{
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    flex: none;
}

.auto-docs.splitter{

}
.auto-docs button.splitter-size-toggle{
    position: absolute;
    z-index: 2;
    left: 0.8rem;
    top: 1rem;
    height: auto;
    color: #27272f;
    background: rgb(56 56 67 / 26%);
}
.pdf-grid {
    display: grid;
    grid-template-rows: 1fr;
    flex: auto;
    height: 100%;
    width: auto;
    padding: 0;
}

.pdf-content {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    flex: 1 1 auto;
    height: 100%;
    padding: 0;
    background: rgba(177, 46, 30, 0.6);
}
.pdf-footer {
    background: rgba(255, 196, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    padding: 4rem;
    height: 100%;
}
.video-grid{
    display: grid;
    grid-template-rows: min-content minmax(10%, 1fr);
    min-height: 100%;
    flex: 1;
    padding: 0;
}
.video-content {
    display: flex;
    background: transparent;
    overflow: hidden;
    width: 100%;
    padding: 0.2rem 0 0 0.2rem;
}
.video-footer {
    background: rgba(41, 68, 7, 0.51);
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    padding: 4rem;
    height: 100%;
}

.data-grid-border{
    padding: 16px;
    width: clamp(50%, 100%, 90%);
}

#winding-codes-data-grid{
    margin-inline:auto;
}
#winding-codes-data-grid .mud-table-container{
    z-index: 2;
    overflow-x: clip;
}

#winding-codes-data-grid .mud-toolbar.mud-table-toolbar{
    height: 72px;

}

#winding-codes-data-grid thead tr th{
    padding: 0.5rem 1rem;
    text-align: center;
}
#winding-codes-data-grid tbody tr td{
    padding: 0.5rem 1rem;
    text-align: center;
}
