.docview.main-content{
    display: flex;
    --mud-palette-table-striped: rgb(0 0 0 / 0.2);
    --mud-appbar-height: 40px;
}
.docview.main-container{
    --min-docview-height: calc(100vh - var(--mud-appbar-height));
    --max-docview-height: calc(100vh - var(--mud-appbar-height));
   padding: 1rem;
    margin-inline: auto;
    height: var(--min-docview-height);
}
.docview.main-container :not(div) {
    /*transform: scale(98%);*/
}

/*Custom MudBlazor Overrides*/

aside.docview.drawer-left .mud-navmenu.mud-navmenu-default .mud-nav-link{
    padding-left: 4px;
}

aside.docview.drawer-left .mud-navmenu.mud-navmenu-default .mud-nav-link.active:not(.mud-nav-link-disabled) .mud-nav-link-icon.mud-nav-link-icon-default {
    color: rgba(var(--mud-palette-primary-rgb), 0.75);
}
