/*private const string DropZoneClass = "align-center d-flex flex-row flex-wrap gap-1 justify-center justify-center mud-elevation-2 py-1";*/
/*private const string DropZoneSmallStyle = "max-height: 30vh; overflow-y: auto; overflow-x: hidden; background-color: var(--mud-palette-surface);";*/
/*private const string DropZoneLargeStyle = "max-height: 76vh; overflow-y: auto; overflow-x: hidden; background-color: var(--mud-palette-surface);"*/
#code-drop-container > *:not(table tr td th thead tbody tfoot tr) {
    border-radius: 8px;
}

#folder-selector {
    /* width: 100%; */
     /*max-width: 25vw;*/
    height: 91vh;
    flex: 1 0 350px;
    background-color: var(--mud-palette-dark);
    border-radius: 8px;
    overflow-y: hidden;
}

#folder-selector .folder-list-item {
    background-color: var(--mud-palette-surface);
    box-shadow: var(--mud-elevation-2);
    border-radius: 8px;
    border-style: solid;
    border-width: 0 3px 2px 3px;
    border-color: var(--mud-palette-lines-default);
    padding-block: 4px;
    padding-inline: 16px;
}

#folder-selector .folder-list {
    height: 91vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

#folder-selector .folder-item-flex-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    width: 100%;
    padding: 4px;
}

#folder-selector .mud-list-extended.mud-nested-list {
    /* max-height: 74vh;
     overflow-y: auto;*/
}

#folder-selector .mud-list-drop-content {
    object-fit: contain;
    height: auto;
    max-height: 81vh;
    overflow: hidden auto;
    margin-inline: -1px 0;

}

#folder-selector .drop-zone-wrapper {
    padding-bottom: 2px;
}

#folder-selector .drop-zone-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    align-items: stretch;
    background-color: var(--mud-palette-background-grey);
    padding-block: 2rem;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: var(--mud-palette-lines-default);
    z-index: 0;
}


#folder-selector .drop-zone-gallery > :nth-child(1n) {
    width: calc(9rem - 4px);
    z-index: 1;
}

.drop-zone-item {
    min-height: 30px;
    height: auto;
    width: 100%;
    margin: auto;
    padding-inline-end: 4px;
    cursor: grab;
}

.overflowing.drop-zone-item:hover::after {
    content: attr(data-path);
    cursor: default;
    position: absolute;
    min-height: 1rem;
    bottom: 1.9rem;
    margin: auto;
    left: -2px;
    right: -2px;
    text-align: center;
    padding: 4px 4px;
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--mud-palette-text-primary);
    white-space: pre-line;
}
body .custom-tooltip {
    /* position: absolute; Remove this line */
    position: fixed;
    text-align: center;
    padding: 4px 4px;
    background-color: rgb(30 30 30 / 0.9);
    border: 2px solid var(--mud-palette-lines-default);
    color: var(--mud-palette-text-primary);
    white-space: pre-line;
    visibility: hidden;
    z-index: 10;
}


.drop-zone-item > span {
    width: 100%;
    min-height: 1rem;
    padding-inline: 4px;
    overflow: hidden;
}

.drop-zone-item > * p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-block: 4px;
    margin-inline: 12px 8px;
}


 .drop-zone-item.folder-item {
    background-color: rgb(255 64 129 / 0.3);

}

 .drop-zone-item.folder-item:hover {
    background-color: rgb(255 64 129 / 0.5);
}

 .drop-zone-item.video-item {
    background-color: rgb(50 153 255 / 0.3);
}

 .drop-zone-item.video-item:hover {
    background-color: rgb(50 153 255 / 0.5);
}

 .drop-zone-item.pdf-item {
    background-color: rgb(9 154 80 / 0.3);
}

 .drop-zone-item.pdf-item:hover {
    background-color: rgb(9 154 80 / 0.5);
}
