/*private const string DropZoneClass = "align-center d-flex flex-row flex-wrap gap-1 justify-center justify-center mud-elevation-2 py-1";*/
/*private const string DropZoneSmallStyle = "max-height: 30vh; overflow-y: auto; overflow-x: hidden; background-color: var(--mud-palette-surface);";*/
/*private const string DropZoneLargeStyle = "max-height: 76vh; overflow-y: auto; overflow-x: hidden; background-color: var(--mud-palette-surface);"*/


#folder-selector {
    flex: 1 0;
    background-color: var(--mud-palette-dark);
    border-radius: 8px;
    overflow-y: hidden;
    min-width: 350px;
}

#folder-selector .folder-list-item {
    background-color: var(--mud-palette-surface);
    box-shadow: var(--mud-elevation-2);
    border-radius: 8px;
    border-style: solid;
    border-width: 0 3px 2px 3px;
    border-color: var(--mud-palette-lines-default);
    padding-block: 4px;
    padding-inline: 16px;
}

#folder-selector .folder-list {
    height: 100%;
    overflow: hidden;
}

#folder-selector .folder-item-flex-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    width: 100%;
    padding: 4px;
}

#folder-selector .mud-list-extended.mud-nested-list {
    /* max-height: 74vh;
     overflow-y: auto;*/
}

#folder-selector .mud-list-drop-content {
    object-fit: fill;
    height: auto;
    max-height: calc(100% - 84px);
    overflow: hidden auto;
    /*margin-inline: -1px 0;*/

}

#folder-selector .drop-zone-header{
    position: sticky;
    top: 2.9em;
    background: var(--mud-palette-surface);
    z-index: 2;
}

#folder-selector .drop-zone-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    align-items: stretch;
    background-color: var(--mud-palette-background-grey);
    margin-inline: -2px;
    padding-block: 2rem;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: var(--mud-palette-lines-default);
    z-index: 0;
}

#media-card .drop-zone-gallery {
    /*border border-solid flex-grow-1 mud-border-lines-default pa-4 rounded-lg*/
    display: flex;
    gap: 4px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 50px;
    border: 1px solid var(--mud-palette-lines-default);
    border-radius: 8px;
}

/* select each child but with an offset so that the first child is not selected */
#media-card .drop-zone-gallery > :nth-child(n) {
    flex: 0 1 auto;
    width: fit-content;
}

#media-card .drop-zone-gallery > :nth-child(n):only-child {
    max-width: 65%;
    width: 100%;
}

#media-card .drop-zone-gallery > :nth-child(n):not(:only-child) {
    max-width: 45%;
    width: 100%;
}
#media-card .drop-zone-gallery > :nth-child(n):not(:only-child) .drop-zone-item > span {
    width: unset;
}

#folder-selector .drop-zone-gallery > :nth-child(1n) {
    width: 45%;
    padding: 1px;
    z-index: 1;
}
#folder-selector .drop-zone-gallery.flex-column .mud-drop-item {
    width: 70%;
   margin-inline: auto;
}

#drop-zone-chip.drop-zone-item {
    min-height: 30px;
    width: 100%;
    height: auto;
    margin: auto;
    padding-inline-end: 8px;
    cursor: grab;
    border-color: transparent !important;
}
#media-card #drop-zone-chip.drop-zone-item {
    margin: unset;
}

.drop-zone-item-tooltip {
    display:none;
    visibility: hidden;
}

/* TODO: not working */
.drop-zone-item-tooltip .drop-item-icon:hover p {
    text-decoration: none;
    color: var(--mud-palette-info-darken)
}

.drop-zone-item-tooltip p{
    text-decoration: underline;
}

.drop-zone-gallery .mud-drop-item:hover .drop-zone-item-tooltip{
    visibility: visible;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    content:attr(data-path);
    cursor: context-menu;
    position: absolute;
    overflow:  hidden;
    max-height: 3rem;
    min-height: 1rem;
    bottom: 1.9rem;
    margin: auto;
    left: -2px;
    right: -2px;
    text-align: center;
    padding: 4px 4px;
    background-color: rgba(0, 0, 0, 0.9);
    color: var(--mud-palette-text-primary);
    white-space: pre-line;
    font-size: small;
    text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
}

body .custom-tooltip {
    position: fixed;
    text-align: center;
    padding: 4px 4px;
    background-color: rgb(30 30 30 / 0.9);
    border: 2px solid var(--mud-palette-lines-default);
    color: var(--mud-palette-text-primary);
    white-space: pre-line;
    visibility: hidden;
    z-index: 10;
}


.drop-zone-item > span {
    width: 100%;
    min-height: 1rem;
    padding-inline: 4px;
    overflow: hidden;

}

.drop-zone-item > * p {
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: start;
    margin-block: 4px;
    font-size: 0.75rem;
    word-spacing: normal;
}

#folder-selector .drop-zone-item > * p {
    margin-inline-end: -16px;
}


.drop-zone-item.folder-item {
    background-color: rgb(255 64 129 / 0.3);

}

.drop-zone-item.folder-item:hover {
    background-color: rgb(255 64 129 / 0.5);
}

.drop-zone-item.video-item {
    background-color: rgb(50 153 255 / 0.3);
}

.drop-zone-item.video-item:hover {
    background-color: rgb(50 153 255 / 0.5);
}

.drop-zone-item.pdf-item {
    background-color: rgb(9 154 80 / 0.3);
}

.drop-zone-item.pdf-item:hover {
    background-color: rgb(9 154 80 / 0.5);
}
