.index-grid{
    display: grid;
    grid-template-rows: 0.5fr 5fr;
    flex: auto;
    min-height: 100%;
    padding: 0;
}

.pdf-grid {
    display: grid;
    grid-template-rows: 1fr;
    flex: auto;
    min-height: 100%;
    padding: 0;
}

.pdf-content {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    padding: 0;
    background: rgba(177, 46, 30, 0.6);
}
.pdf-footer {
    background: rgba(255, 196, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    padding: 4rem;
    height: 100%;
}
.video-content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
    background: rgba(13, 71, 161, 0.6);
}
.video-header {
    background: rgba(46, 125, 50, 0.5);
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    height: 100%;
}

.mud-popover.mud-popover-open.todo-menu{
    left: unset;
    right: 0;
}
.todo-menu.item{
    backdrop-filter: blur(5px) contrast(0.925);
}
