::deep .index-grid{
    display: grid;
    grid-template-rows: 5fr 1fr;
    row-gap: 10px;
    flex: auto;
    min-height: 100%;
    padding: 0;
}

::deep .pdf-content {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
    background: rgba(177, 46, 30, 0.4);
}
::deep .pdf-footer {
    background: rgba(255, 196, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    padding: 4rem;
    height: 100%;
}
::deep .video-content {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
    background: #0d47a12a;
}
::deep .video-footer {
    background: #2e7d321a;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    padding: 4rem;
    height: 100%;
}

::deep .docview.drawer-left,
::deep .docview.drawer-right{
    z-index: 1000;
}
