:root {
    --app-drawer-width: clamp(150px, 10vw, 300px);
}


.mud-drawer.mud-drawer-responsive.mud-drawer-pos-left:not(.sidebar-left), .mud-drawer.mud-drawer-persistent.mud-drawer-pos-left:not(.sidebar-left) {
    width: var(--app-drawer-width);
    height: 94vh;
}

.mud-drawer-open-persistent-left:not(.mud-drawer-open-persistent-right, .sidebar-left) .mud-main-content {
    padding-top: 16px;
    margin-left: calc(24px + var(--app-drawer-width));
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
}

div.mud-main-content {
    padding-top: 10px;
}

.doc-view-drawer {
    background-color: #27272f;
    margin: 10px 0 0 10px;
    border-radius: 5px;

}
.doc-view-drawer h6{
    color: rgba(190,190,192,0.9);
}
.doc-view-drawer .app-nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-end;
    margin: 10px;
}

.doc-view-drawer .directory-nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    margin: 10px;
}

.doc-view-drawer .mud-nav-item {
    border-radius: 10px;
}
.doc-view-drawer .mud-navmenu-default:is(.directory-nav, .app-nav) .mud-nav-link.active:not(.mud-nav-link-disabled)
{
    background-color: rgba(52, 51, 51, 0.9)
}

.doc-view.main-content {
    padding-top: 10px;
}

.doc-view.container {
    --video-grid-width: 95vw;
    max-width: calc(var(--video-grid-width) - var(--app-drawer-width));
    margin-inline: auto;
    margin-block: 0 auto;
}

@media (max-width: 2000px) {
    .doc-view.container {
        --video-grid-width: 97vw;
    }
}
.index-grid {
    display: grid;
    row-gap: 10px;
    flex: auto;

}

.video-content {
    background: #0d47a12a;
}

.view-port {
    display: grid;
    height: calc(100vh - 3rem);
    grid-template-columns: 1fr 3fr;
}


.video-footer {
    background: #2e7d321a;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    padding: 4rem;
    height: 100%;
}

.video-grid {
    display: grid;
    grid-template-columns: 0.1rem 1fr 0.1rem;
}

video {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: 100%;
}

.grid-container{
    position: fixed;
    height: 100vh;
    
    
}
.sidebar-column{
    background-color: rgba(224, 82, 82, 0.39);
    position: relative; 
}
.sidebar-left{
    position: absolute;
    width: 100%;
}
.appbar-top{
    
}
.content-column{
    display: flex;
    background-color: rgba(192,21,139,0.36)
}
.main-content{
    flex-grow: 1;
    padding: 0 10px;
}
.main-content > .main-page{
    min-height: auto;
    height: 100%;
    place-content: flex-start;
    align-items: flex-start;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}
.appbar-bottom{
    position: fixed;
    bottom: 0;
}
.video-player{
    padding: 10px 5px 0 5px;
}