@if (!string.IsNullOrEmpty(AutoDocs.PdfUrl)) {
  <div class="pdf-content">
    <iframe id="pdf-viewer"
        allow="autoplay; fullscreen"
        style="width:100%; height:100%"
        src="@AutoDocs.PdfUrl#view=FitH&toolbar=0">
    </iframe>

  </div>
} else {
  <div class="align-center d-flex justify-center mud-width-full"
      style="height: 50%">
    <div class="align-center d-flex flex-column justify-center">

      <MudProgressCircular Color="Color.Tertiary"
          StrokeWidth="5"
          Size="Size.Large"
          Indeterminate="true"/>

      <MudText Typo="Typo.h3">Loading...</MudText>
    </div>

  </div>
}


@code {
  [CascadingParameter]
  public AutoDocs AutoDocs { get; set; } = default!;

}
