<div class="video-grid">
  @if (VideoUrl != null) {
    <div class="video-content">
      <VideoPlayer VideoUrl="@VideoUrl"/>
    </div>
  }

  @if (RefMedia != null) {
    <div class="video-footer">
      <WindingCodeRefMedia RefMedia="@RefMedia"/>
    </div>
  }
</div>

@code {
  [Parameter]
  [EditorRequired]
  public string? VideoUrl { get; set; }

  [Parameter]
  [EditorRequired]
  public List<string>? RefMedia { get; set; }

}
