
@if (VideoUrl != null) {

<div
    class="video-grid">
  <div
      class="video-content">
    <VideoPlayer VideoUrl="@VideoUrl"/>
  </div>

  <div
      class="video-footer">
    <MudSkeleton
        SkeletonType="SkeletonType.Rectangle"
        Animation="Animation.Pulse"
        Height="100%"
        Width="100%">
    </MudSkeleton>
  </div>
</div>
} else {
  <MudSkeleton
      SkeletonType="SkeletonType.Rectangle"
      Animation="Animation.Pulse"
      Height="100%"
      Width="100%">
  </MudSkeleton>
}


@code {
  [Parameter]
  [EditorRequired]
  public string? VideoUrl { get; set; }

  [Parameter]
  public List<string>? RefsFolder { get; set; }

}
