<div
    class="video-grid">
  <div
      class="video-content">
    <VideoPlayer/>
    @*<video
        controls
        autoplay>
      <source src="http://localhost:5126/files/TrainingVideos/Unsorted/WINDING%20SPEC%20DOWNLOAD%20Z80.mp4" type="video/mp4"/>
    </video>*@
  </div>

  <div
      class="video-footer">
    <MudSkeleton
        SkeletonType="SkeletonType.Rectangle"
        Animation="Animation.Pulse"
        Height="100%"
        Width="100%">
    </MudSkeleton>
  </div>
</div>

@code {

}
