@using MudBlazorPWA.Client.Instructions.Pages
@inherits ComponentBase
<div class="video-grid">

  @if (AutoDocs.VideoUrl != null) {
    <div class="video-content">
      <VideoPlayer @ref="@_videoPlayer"/>
    </div>
  }

  @if (AutoDocs.RefMediaContent.Any()) {
    <div class="video-footer">

      <WindingCodeRefMedia/>
    </div>
  }
</div>

@code {

  [CascadingParameter]
  public AutoDocs AutoDocs { get; set; } = default!;
  private VideoPlayer _videoPlayer = default!;

  public async void Refresh() {
    await _videoPlayer.DisposeAsync();
    await InvokeAsync(StateHasChanged);
  }

}
