.directory-tree {
    padding-inline: 10px;
    justify-content: flex-start;
    display: flex;
    flex: 1;

}

.directory-tree ::deep .tree-paper {
    margin: 5px;
    padding: 5px;
    height: calc(100vh - var(--mud-appbar-height) - 60px);
    width: 100%;
    border: 3px solid #8d8d8da3;
    overflow-y: scroll;
}
/* if the screen height is more than 1080px then the height of the .tree-paper is 89vh */
@media (min-height: 1080px) {
    .directory-tree ::deep .tree-paper {
        height: 89vh;
    }
}

.directory-tree ::deep .tree-paper .mud-treeview-group {
    margin-inline-start: 0.5rem;
}

/*.directory-tree ::deep .tree-paper .mud-treeview-group li.folder:nth-of-type(2n-1) {
    background-color: var(--mud-palette-drawer-background);
}

.directory-tree ::deep .tree-paper .mud-treeview-group li.folder:nth-of-type(2n-1) .mud-treeview-group li.folder:nth-of-type(1n + 1) {
    background-color: var(--mud-palette-surface);
}

.directory-tree ::deep .tree-paper .mud-treeview-group li.folder:nth-of-type(2n) .mud-treeview-group li.folder:nth-of-type(1n + 1) {
    background-color: var(--mud-palette-drawer-background);
}*/

.directory-tree ::deep .mud-treeview-item .mud-treeview-item-arrow {
    width: 1rem;
    display: flex;
    flex-basis: 10%;
    justify-content: center;
}

.directory-tree ::deep .mud-treeview-item.file .mud-treeview-item-arrow {
    width: 1rem;
    display: flex;
    flex-basis: 0;
    justify-content: start;
}

.directory-tree ::deep .mud-treeview-item.file > .mud-treeview-item-content {
    min-height: 44px;
    max-height: 44px;
    border-radius: 5px;
    margin-block: 4px;
    padding-inline: 5px 10px;
    justify-content: flex-end;
    backdrop-filter: saturate(2) blur(2px) contrast(0.8);
}

.directory-tree ::deep div.mud-collapse-wrapper .mud-treeview-item.file > .mud-treeview-item-content {

    padding-inline: 0 10px;
}

.directory-tree ::deep .mud-treeview-item.file > .mud-treeview-item-content:hover {
    max-height: fit-content;
}


.directory-tree ::deep .mud-treeview-item-arrow {
    margin: 0;
}

.directory-tree ::deep .mud-treeview-item p {
    font-size: var(--mud-typography-default-size);
}

.directory-tree ::deep .mud-treeview-item.folder p {
    word-break: break-word;
}
.directory-tree ::deep .mud-treeview-item.folder button.mud-treeview-item-arrow-expand {
    : true;
}

/*.directory-tree ::deep .mud-treeview-item.folder:nth-child(odd) {
    background-color: var(--mud-palette-drawer-background);
}
.directory-tree ::deep .mud-treeview-item.folder:nth-child(even) {
    background-color: var(--mud-palette-surface);
}*/
.directory-tree ::deep .mud-treeview-item.file p {
    font-size: 0.75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: "[...]";
}

.directory-tree ::deep .mud-treeview-item.file p:hover {
    overflow: visible;
    white-space: normal;
    text-overflow: unset;
    font-size: 0.7rem;
}
