@using MudBlazorPWA.Client.Instructions.Pages
@inject IJSRuntime JSRuntime

<div class="ref-media-grid">

  @foreach (string item in AutoDocs.RefMediaContent) {
    <div class="ref-media-item">

      @if (item.EndsWith(".pdf")) {
@* get the metadata and display *@
        <div class="d-flex justify-center">
          <MudIcon Icon="@Icons.Material.Filled.PictureAsPdf"/>
        </div>
      }
      @* //TODO: Can't add multiple videos to REF_MEDIA on mac *@
      else if (item.EndsWith(".mp4")) {
        var videoSrc = $"{item}#t=1.0";
        <video class="video-thumbnail"
            preload="metadata"
            width="100%">
          <source src="@videoSrc"
              type="video/mp4"/>
        </video>
        <img src="play-button.png"
            class="video-play-btn"
            alt="Play Video"
            @onclick="() => SetActiveVideo(item)"/>
      }
    </div>
  }
</div>

@code {

  [CascadingParameter]
  public AutoDocs AutoDocs { get; set; } = default!;

  private void SetActiveVideo(string selectedItem) {
    if (AutoDocs.VideoUrl == null)
      return;

    AutoDocs.RefMediaContent.Remove(selectedItem);
    AutoDocs.RefMediaContent.Add(AutoDocs.VideoUrl);
    AutoDocs.VideoUrl = selectedItem;
    StateHasChanged();
    AutoDocs.SecondaryContentUpdated();
  }
}
