.index-grid{
    display: grid;
    grid-template-rows: 5fr 1fr;
    flex: auto;
    min-height: 100%;
    padding: 0;
}

.pdf-content {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
    background: rgba(177, 46, 30, 0.6);
}
.pdf-footer {
    background: rgba(255, 196, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    padding: 4rem;
    height: 100%;
}  .video-content {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
    background: rgba(13, 71, 161, 0.6);
}
.video-footer {
    background: rgba(46, 125, 50, 0.5);
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    padding: 4rem;
    height: 100%;
}
