/*
.docview.main-content {
    height: 100vh;
    padding-bottom: 10px;
    padding-inline: 0
}

.docview.main-container {

}

.docview.drawer-left,
.docview.drawer-right{
    z-index: 1000;
}
.docview.drawer-left:hover,
.docview.drawer-right:hover{
    z-index: 1100;
}

.docview.mini-drawer-header{
    display: flex;
    justify-content: center;
    margin-inline: auto;
    padding: 10px;
}

.index-grid {
    display: grid;
    grid-template-rows: 5fr 1fr;
    row-gap: 10px;
    flex: auto;
    min-height: 100%;
    padding: 0;
}
.pdf-content {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
    background: rgba(177, 46, 30, 0.4);
}
.pdf-footer {
    background: rgba(255, 196, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    padding: 4rem;
    height: 100%;
}
.video-content {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
    background: #0d47a12a;
}
.video-content.video{
    width: 100%;
}

.view-port {
    display: grid;
    height: calc(100vh - 3rem);
    grid-template-columns: 1fr 3fr;
}

.video-footer {
    background: #2e7d321a;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    padding: 4rem;
    height: 100%;
}

.video-grid {
    display: grid;
    grid-template-columns: 0.1rem 1fr 0.1rem;
}

.video-grid video {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: 100%;
}

.grid-container {
    position: fixed;
    height: 100vh;
}
*/
