/*
.sidebar-column {
    !*background-color: rgba(224, 82, 82, 0.39);*!
    position: relative;
}

.sidebar.left {
    background-color:  var(--mud-palette-drawer-background);
    position: absolute;
    width: 100%;
}

.sidebar-left div.drawer-header {
    background: var(--mud-palette-surface);
    width: 100%;
    height: 100%;
    padding: 5px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    border: 3px solid #8d8d8da3;
    backdrop-filter: saturate(200%) blur(2px) contrast(125.8%);

}

.sidebar-right {
    background-color:  var(--mud-palette-surface);
    !*position: absolute;*!
    !*width: 100%;*!
}
*/
