::deep .mud-expand-panel {
  margin-bottom: 0 !important;
  border-bottom: unset !important;
  cursor: default !important;
}

::deep .mud-expand-panel .mud-expand-panel-text {
  color: var(--mud-palette-text-primary);
}

::deep .mud-expand-panel .mud-expand-panel-text > div > * {
  color: inherit;
}

::deep .mud-expand-panel.mud-panel-expanded .mud-expand-panel-header {
  cursor: pointer !important;
  border-bottom: 4px solid var(--mud-palette-background-grey);
  padding: 8px 12px;
  background-color: var(--mud-palette-background-grey);
  /* transition the background-color changing */
  transition: background-color 0.3s ease-in-out;
}

::deep .mud-expand-panel .mud-expand-panel-header {
  border-radius: 0 0 8px 8px;
  padding: 8px 12px;
}

::deep .mud-expand-panel > .mud-collapse-container.mud-collapse-entered {
  margin-top: -4px;
  padding-block: 4px 12px;
}

::deep .mud-expand-panel > .mud-collapse-container {
  overflow: hidden auto;
  border-left: 8px solid var(--mud-palette-background-grey);
  border-right: 8px solid var(--mud-palette-background-grey);
}

.directory-explorer {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 56px;
  width: 400px;
}

.directory-treeview {
  max-height: 100%;
  height: min-content;
  padding-bottom: 10px;
  background: transparent;
}

.directory-treeview ::deep .mud-treeview-item-content {
  padding: 0;
  margin: 0;
}

.directory-treeview ::deep .mud-treeview-item-arrow {
  margin: 0;
}

.directory-treeview ::deep .mud-treeview-item-arrow button {
  padding: 4px 0;
}

.directory-treeview
  ::deep
  .mud-treeview-item-arrow.mud-treeview-item-arrow-expand.mud-transform
  button {
  padding-inline: 0 4px;
}

::deep .treeview-root > div:last-of-type > div > div > ul {
  padding-bottom: 4px;
  border-bottom: 1px solid var(--mud-palette-lines-default);
}

.directory-treeview ::deep .mud-treeview-group {
  padding: 0;
  padding-inline-end: 4px;
  margin-inline-start: 4px;
  border-left: 1px solid var(--mud-palette-lines-default);
  margin-inline: 15px 0;
}

.directory-treeview ::deep:first-of-type(ul) > li:first-of-type {
  padding-bottom: 12px;
}

::deep .mud-treeview-item-content p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 95%;
}

::deep .mud-treeview-item-content:hover p,
::deep .mud-treeview-item-content.mud-treeview-item-selected p {
  text-overflow: unset;
  overflow: unset;
  white-space: pre-wrap;
  max-width: 100%;
}

::deep .mud-treeview-item-content.mud-treeview-item-selected p {
  text-overflow: unset;
  overflow: unset;
  white-space: pre-wrap;
  max-width: 100%;
}
