<MudStack AlignItems="AlignItems.Center"
    Justify="Justify.Center"
    Class="border mud-border-info">

  <h3>@Title</h3>
  @foreach (var item in Items) {
    <p>@item.GetName()</p>
  }
</MudStack>

@code {
  [Parameter]
  public required string Title { get; set; }

  [Parameter]
  public required List<string> Items { get; set; }

  protected override void OnParametersSet() {
    if (string.IsNullOrEmpty(Title)) {
      Title = "Default Title";
    }
  }

}
