::deep .mud-expand-panel {
  margin-bottom: 0 !important;
  border-bottom: unset !important;
  cursor: default !important;
}

::deep .mud-expand-panel .mud-expand-panel-text {
  color: var(--mud-palette-text-primary);
}

::deep .mud-expand-panel .mud-expand-panel-text > div > * {
  color: inherit;
}

::deep .mud-expand-panel.mud-panel-expanded .mud-expand-panel-header {
  cursor: pointer !important;
  border-bottom: 4px solid var(--mud-palette-background-grey);
  padding: 8px 12px;
  background-color: var(--mud-palette-background-grey);
  /* transition the background-color changing */
  transition: background-color 0.3s ease-in-out;
}

::deep .mud-expand-panel .mud-expand-panel-header {
  border-radius: 0 0 8px 8px;
  padding: 8px 12px;
}

::deep .mud-expand-panel > .mud-collapse-container.mud-collapse-entered {
  margin-top: -4px;
  padding-block: 4px 12px;
}

::deep .mud-expand-panel > .mud-collapse-container {
  overflow: hidden auto;
  border-left: 8px solid var(--mud-palette-background-grey);
  border-right: 8px solid var(--mud-palette-background-grey);
}

.directory-explorer {
  height: 100%;
  margin-inline: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  padding-bottom: 56px;
}

.directory-treeview {
  height: min-content;
  max-height: 40%;
  padding-bottom: 10px;
}

.directory-treeview ::deep .mud-treeview,
.mud-treeview ul,
.mud-treeview ul li {
  background-color: var(--mud-palette-surface);
}

.directory-treeview ::deep:first-of-type(ul) > li:first-of-type {
  padding-bottom: 12px;
}

.directory-dropzone {
  display: flex;
  gap: 2rem;
  height: 100%;
  align-items: center;
  padding-bottom: 16px;
  justify-content: center;
  flex-direction: column;
  border-color: var(--mud-palette-lines-default);
}
