@using MudExtensions.Enums
@inject AdminEditorState State
<MudListExtended T="IDirectoryItem"
    Dense="true"
    SelectedValuesChanged="async (items) => await SelectedItemsChanged.InvokeAsync((Key, items))"
    MultiSelection="true"
    MultiSelectionAlign="Align.Left"
    Class=" directory-item-list mud-width-full py-0">
  <MudListSubheaderExtended T="IDirectoryItem"
      Class="align-center border-b d-flex directory-item-header justify-center ma-0 mud-border-lines-default pa-0">
    <MudText Typo="Typo.button"
        Align="Align.Center">
      @Title
    </MudText>
  </MudListSubheaderExtended>

  <div class="directory-item-content">

    @if (DirectoryItems.Any()) {
      foreach (var item in DirectoryItems) {
        <MudListItemExtended T="IDirectoryItem"
            Class="directory-item"
            Dense="true"
            Value="item">
          <MudStack Row
              Justify="Justify.Center">

            <MudIcon Icon="@item.Icon"/>
            <p>@item.Name</p>
          </MudStack>
        </MudListItemExtended>
      }
    } else {
      <MudPaper Style="background: transparent"
          Height="auto">

      </MudPaper>
    }
  </div>
</MudListExtended>

@code {
  [Parameter]
  public required Enum Key { get; set; }

  [Parameter]
  public List<IDirectoryItem> DirectoryItems { get; set; } = new();

  [ Parameter ]
  public EventCallback<(Enum, IEnumerable<IDirectoryItem>)> SelectedItemsChanged { get; set; }


  private string Title { get; set; } = default!;

  protected override async Task OnParametersSetAsync() {
    await base.OnParametersSetAsync();
    Title = Key.ToString();
  }
    // DirectoryItems.Clear();
    // foreach (var item in ItemPaths.Select(
    //   itemPath
    //     => itemPath.AsDirectoryItem())) { DirectoryItems.Add(item); }
  //}
}
