@implements IAsyncDisposable
@inject IJSRuntime JsRuntime

<div class="video-grid video-player">
  <video
      id="@VideoPlayerId"
      onloadedmetadata="@VideoLoaded"
      preload="auto"
      controls>
    <source src="@VideoUrl" type="video/mp4" />
  </video>
</div>

@code {
  [Parameter]
  public string VideoPlayerId { get; set; } = "video-player";

  [Parameter]
  [EditorRequired]
  public required string VideoUrl { get; set; }

  [Parameter]
  public string? Class { get; set; }

  private IJSObjectReference? _videoJs;

  protected override async Task OnAfterRenderAsync(bool firstRender) {
    if (firstRender) {
      _videoJs = await JsRuntime
        .InvokeAsync<IJSObjectReference>(
          "import", "../Components/VideoPlayer.razor.js");
    }
  }

  private async Task VideoLoaded() {
    await JsSetVideoPlayer();
  }

  private async Task JsPauseVideo() {
    if (_videoJs != null)
      await _videoJs.InvokeVoidAsync("pauseVideo");
  }

  private async Task JsRestartVideo() {
    if (_videoJs != null)
      await _videoJs.InvokeVoidAsync("restartVideo");
  }

  private async Task JsPlayVideo() {
    if (_videoJs != null)
      await _videoJs.InvokeVoidAsync("playVideo");
  }

  private async Task JsSeekVideo(int time, bool seekDirection) {
    if (_videoJs != null)
      await _videoJs.InvokeVoidAsync("seekVideo", time, seekDirection);
  }

  private async Task JsSetVideoPlayer() {
    if (_videoJs != null)
      await _videoJs.InvokeVoidAsync("init", VideoPlayerId);
  }

  public async ValueTask ReloadVideo() {
    await JsRestartVideo();
  }

  public async ValueTask DisposeAsync() {
    if (_videoJs != null) {
      await _videoJs.DisposeAsync();
    }
  }
}