@page "/counter"
@layout DocViewLayout

<PageTitle>Counter</PageTitle>

<h1> Hello From Counter</h1>

@code {

  [CascadingParameter]
  public required MainLayout Layout { get; set; }

  protected override void OnInitialized() {
    Layout.PageTitle = "Counter";
    Layout.HidAppBar(true);
  }
}