
.control-header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.media {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
    margin-inline: 5px;
    height: calc(100vh - 10rem);
    background: rgba(32, 33, 36, 0.55);
    
}  
.control-footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -4em;
    background: rgb(0, 0, 0);
    padding: 0.6em;
    z-index: 1;
}

::deep .video-controls {
    justify-content: space-between;
    align-items: center;
    max-width: min-content;
    
    
}


.media-video{
    display: block;
    height: 90%;
    width: 100%;
    
}

#pdfViewer {
    height: 100%;
    max-width: 75rem;
}