@page "/"
@layout DocViewLayout
@implements IDisposable
@using MudBlazorPWA.Client.Components
<PageTitle>Index</PageTitle>

<div class="index-grid">

  <div class="video-content">

    <VideoPlayer
        @ref="_videoPlayer"
        VideoPlayerId="video"
        VideoUrl="@VideoUrl">
    </VideoPlayer>
  </div>

  <div class="video-footer">
              <MudPaper Height="50px" Width="140px"/>
              <MudPaper Height="50px" Width="140px"/>
              <MudPaper Height="50px" Width="140px" />
  </div>
</div>

@code{

      [CascadingParameter]
      public MainLayout? MainLayout { get; set; }


    private const string VideoUrl = "http://localhost:5165/TrainingVideos/D1%20Pole/WINDING%20SPEC%20DOWNLOAD%20Z80.mp4";


  private VideoPlayer? _videoPlayer;


  protected override async Task OnAfterRenderAsync(bool firstRender) {
    if (firstRender && _videoPlayer != null) {
        await _videoPlayer.ReloadVideo();
      MainLayout!.DrawerDisabled = true;
    }
    await base.OnAfterRenderAsync(firstRender);
  }
  public void Dispose() {
    if (MainLayout != null)
      MainLayout.DrawerDisabled = false;
  }
}