
.row.btn-group-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10rem;
    justify-content: center;
    align-items: center;
    margin: 0 0 1rem 0;
}

.control-header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.media {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-block: 2rem;
    margin-inline: 5px;
    height: calc(100vh - 10rem);
    background: rgba(32, 33, 36, 0.55);

}

.control-footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -4em;
    padding: 0.5em;
    z-index: 1;
}

/*noinspection CssInvalidPseudoSelector*/
::deep .video-controls {
    justify-content: space-between;
    align-items: center;
    max-width: min-content;
    gap: 5px;
    background: rgb(0, 0, 0);
}
/*!*noinspection CssInvalidPseudoSelector*!*/
/*::deep .video-controls:nth-child(1) > *:nth-child(2) {*/
/*    margin-inline: 1rem;*/
/*}*/
/*!*noinspection CssInvalidPseudoSelector*!*/
/*::deep .video-controls:nth-child(1) > *:nth-child(3){*/
/*    margin-inline:1rem;*/
/*}*/


#videoPlayer {
    max-height: calc(100vh - 10rem);
    width: 100%;
}

#pdfViewer {
    min-height: calc(100vh - 10rem);
    max-width: 100%;
}