@inherits LayoutComponentBase
@inject LayoutService LayoutService
@using CoilWinderHelp.Components.Theme
@implements IDisposable

@*Theme="MyCustomTheme"*@
<div>
  
<MudThemeProvider
    @ref="_mudThemeProvider"
    IsDarkMode="@LayoutService.IsDarkMode"
    IsDarkModeChanged="LayoutService.SetDarkMode"
    Theme="LayoutService.CurrentTheme"/>
<MudDialogProvider
    CloseOnEscapeKey="true"
    DisableBackdropClick="true"
    FullWidth="true"
    MaxWidth="MaxWidth.ExtraSmall"
    Position="DialogPosition.Center" />
<MudSnackbarProvider />
@Body
</div>



@code {
  private MudThemeProvider? _mudThemeProvider;

  protected override void OnInitialized()
  {
    LayoutService.MajorUpdateOccured += LayoutServiceOnMajorUpdateOccured!;
    base.OnInitialized();
  }

  protected override async Task OnAfterRenderAsync(bool firstRender) {
    await base.OnAfterRenderAsync(firstRender);
    
    if (firstRender) {
      LayoutService.SetBaseTheme(new());
      LayoutService.SetDarkMode(true);
    }
    
  }

  public void Dispose() {
    LayoutService.MajorUpdateOccured -= LayoutServiceOnMajorUpdateOccured!;
  }

  private void LayoutServiceOnMajorUpdateOccured(object sender, EventArgs e) => StateHasChanged();

}