.mud-drop-container.admin-drop-container {
  height: 100%;
}

.directory-tree-grid {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  justify-content: space-between;
}

.winding-code-grid {
  display: grid;
  align-content: space-between;
  overflow: hidden;
  min-width: fit-content;
}

::deep .mud-table.mud-data-grid {
  --data-grid-toolbar-height: 62px;
  margin-bottom: 14px;
  padding-bottom: 0;
  overflow: hidden;
  border-bottom: 1px solid var(--mud-palette-lines-default);
  min-width: min-content;
}

::deep .mud-table.mud-data-grid .mud-table-container {
  height: calc(100% - var(--data-grid-toolbar-height));
}

.dark-background,
::deep .dark-background {
  background-color: var(--mud-palette-background-grey);
}

::deep .bordered {
  border-radius: 8px;
  border-style: solid;
  border-width: 3px;
  border-color: var(--mud-palette-lines-default);
}

.directory-tree-component {
  min-width: min-content;
  max-width: fit-content;
}

::deep .directory-tree {
  overflow: hidden;
  min-width: max-content;
}

/* media query to change .directory tree width to 35vw if display width > 2000px */

::deep
  .mud-treeview-item
  .mud-treeview-item-content:not(:has(div.mud-treeview-item-arrow)) {
  padding: 4px 2px;
}

::deep .mud-treeview-item .mud-treeview-item-content:hover {
  background-color: rgba(52, 52, 162, 0.24);
}

/* make .mud-treeview-item .p selectable with cursor */
::deep .mud-treeview-item .mud-treeview-item-content p {
}
