@page "/Admin/StopsEditor"
@layout DocViewLayout
@inject AdminEditorState State
@implements IDisposable

<div class="directory-tree-grid">

  <div class="dark-background directory-tree-component overflow-hidden rounded-lg">
    <DirectoryTree class="bordered directory-tree"/>
  </div>

  <MudStack Justify="Justify.FlexStart"
      AlignItems="AlignItems.Stretch"
      Spacing="0"
      Class="bordered dark-background mud-width-full overflow-hidden"
      Style="row-gap: 1rem;">
    <AdminDataGrid WindingCodes="@State.WindingCodes.ToList()"/>
    <AdminCodeMediaDropCard WindingCode="State.SelectedWindingCode"/>
  </MudStack>
</div>

@code{



  protected override void OnInitialized() { State.StateChanged += AdminStateChanged; }

  private void AdminStateChanged() { StateHasChanged(); }

  public void Dispose() { State.StateChanged -= AdminStateChanged; }

}
