@page "/Admin/StopsEditor"
@layout DocViewLayout
@inject AdminEditorState State
@implements IDisposable

<MudScrollbar Selector=".mud-table-container"
    Width="6"
    Color="#7e52f586">
</MudScrollbar>
<div class="directory-tree-grid">

  <div class="dark-background directory-tree-component overflow-hidden rounded-lg">
    <DirectoryTree class="bordered directory-tree"/>
  </div>

  <MudStack Justify="Justify.FlexStart"
      AlignItems="AlignItems.Stretch"
      Spacing="0"
      Class="bordered dark-background gap-1 mud-width-full overflow-hidden"
      Style="min-width: min-content">
    <AdminDataGrid WindingCodes="@State.WindingCodes.ToList()"/>
    <AdminCodeMediaDropCard WindingCode="@State.SelectedWindingCode"/>
  </MudStack>
</div>

@code{



  protected override void OnInitialized() { State.StateChanged += AdminStateChanged; }

  private void AdminStateChanged() { StateHasChanged(); }

  public void Dispose() { State.StateChanged -= AdminStateChanged; }

}
