<MudDrawer
    Class="sidebar-left object-center"
    Open="true"
    Width="100%"
    Fixed="false"
    Anchor="Anchor.Left"
    Elevation="3"
    Variant="@DrawerVariant.Persistent">
  <MudDrawerHeader>
    <MudText
        Typo="Typo.h6"
        GutterBottom="false">
      Current UserName
      </MudText>
  </MudDrawerHeader>
  <div class="directory-tree">
    <MudPaper class="tree-paper">
    <DirectoryTreeView/>
  </MudPaper>
  </div>
</MudDrawer>

@code {

}
